/* 
*Sign-in and Sign-up buttons style 
*/
#signbtns {
    display: block;
    position: relative;
    text-align: right;
    padding-left: 40%;
    padding-top: 10px;
    
  }
  #signbtns a {
    border-radius: 10px;
    font-size: 14px;
    background-color: #948c7c98;
    text-decoration: none;
    padding: 12px;
    color: rgb(243, 243, 243);
    color: white;
    box-shadow: -1px 1px #948c7c, -2px 2px #948c7c, -1px 1px #948c7c;
    border: 1px solid #948c7c;
  }
  
  #signbtns a:hover {
    background-color: rgba(84, 58, 92, 0.315);
    border-top: none;
    border-right: none;
    border-left: none;
    text-shadow: 0 0 14px #5c3c4c;
  }
  #signbtns p {
    position: relative;
    right: 100px;
    top: 30px;
    color: #d3d9a5;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  p#loggedIn {
    text-align: center;
    /* border: 1px solid white; */
    box-shadow: 0 10px 10px black;
    border-top: none;
    border-right: none;
    border-left: none;
}
  


.formContainer {
    margin: auto;
    padding-top: 50px;
    border-radius: 20px;
    width: 500px;
    height: 510px;
}

.forms {
    text-align: center;
    border-radius: 20px;
    background-color: #ffffff15;
    box-shadow: 0 0 10px 0 rgba(247, 244, 120, 0.692);
    height: 400px;
}
.forms h1 {
    padding: 20px;
    margin-bottom: 10px;
    color: white;
    text-shadow: 0 0 14px rgb(222, 124, 255);
    font-size: 30px;
}

ul.signInform {
    list-style-type: none;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 14px rgb(255, 54, 54);
}
ul.signInform li {
    margin-top: 10px;
    margin-bottom: 50px;
    width: auto;
}
ul.signInform li input {
    background-color: white;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 170px;
    text-align: center;
    transition: width 1s;
}
ul.signInform button {
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    background-color: rgb(82, 40, 82);
    color: white;
    text-shadow: 0 0 10px red;
    width: 80px;
    height: 30px;
    border: none;
}
ul.signInform button:hover {
    background-color: rgb(29, 145, 165);
}

ul.signInform li input:hover {
    width: 250px;
    border-color: rgb(162, 0, 255);
}

/*
* Sign Up Page design
 */

/*
*Sign up form styling
*/

ul.signUpform {
    padding: 10px;
    text-align: left;
    list-style-type: none;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 14px rgb(255, 54, 54);
  }
  ul.signUpform li {
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
  }
  ul.signUpform li input {
    background-color: white;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 170px;
    text-align: center;
    transition: width 1s;
  }
  ul.signUpform button {
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    background-color: rgb(82, 40, 82);
    color: white;
    text-shadow: 0 0 10px red;
    width: 80px;
    height: 30px;
    border: none;
    height: 30px;
  }
  ul.signUpform button:hover {
    background-color: rgb(29, 145, 165);
  }
  
  ul.signUpform li input:hover {
    width: 250px;
    border-color: rgb(162, 0, 255);
  }
  